<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96159040412-ors256g2igntug8um565pc068fjqp9k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96159040412-ors256g2igntug8um565pc068fjqp9k8</string>
	<key>API_KEY</key>
	<string>AIzaSyA5M6F5qzm0c_mLllWaRAAfLXzrPcnAumk</string>
	<key>GCM_SENDER_ID</key>
	<string>96159040412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hello.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizappbale</string>
	<key>STORAGE_BUCKET</key>
	<string>quizappbale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96159040412:ios:d72c5e409eb9e2393dfe59</string>
</dict>
</plist>